{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-10"><h1>{{ user.firstname }} {{ user.lastname }}</h1></div>
        <div class="col-sm-2"><a href="{{ path('admin_index') }}" class="pull-right">Retour Accueil</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div></hr><br>
        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profil &nbsp;</a></li>
                <li class="active"><a data-toggle="tab" href="#home">&nbsp; | &nbsp;</a></li>
                <li><a data-toggle="tab" href="#messages">&nbsp; Question</a></li>
                <li><a data-toggle="tab" href="#messages">&nbsp; | &nbsp;</a></li>
                <li><a data-toggle="tab" href="#settings">&nbsp; Statistiques</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="{{ path('admin_student_info', {'id': user.id}) }}" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Prénom</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.firstname }}" placeholder="Prénom de l'élève">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Nom</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nom de l'élève"  value="{{ user.lastname }}">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="login"><h4>Identifiant</h4></label>
                                <input type="text" class="form-control" name="login" id="login" placeholder="Identifiant de l'élève" value="{{ user.login }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Enregistrer</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reintialiser</button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->
                <div class="tab-pane" id="messages">
                    {% for answer in answers %}
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ answer.question.value }}</h3>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    {% if answer.response %}
                                         <p><span class="good-answer">Bonne réponse</span></p>
                                    {% else %}
                                        <p><span class="bad-answer">Mauvaise réponse</span></p>
                                    {% endif %}
                                </blockquote>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert">{{ user.firstname }} n'a répondu à aucune question.</div>
                    {% endfor %}

                    <hr>

                </div>

                <div class="tab-pane" id="settings">


                    <hr>
                    <div id="div_histogram"></div>
                </div>

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_language('fr') }}

        {{ gc_draw(piechart, 'div_histogram') }}
    </script>
{% endblock %}
