
<div class="sidebar" data-color="orange" data-background-color="black" data-image="{{ asset('assets/img/sidebar-1.jpg') }}">
    <div class="logo">
        <a href="{{ path('app_login') }}" class="simple-text logo-mini">

        </a>
        <a href="{{ path('app_login') }}" class="simple-text logo-normal">
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p> Categories
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('admin_category_new') }}">
                                <span class="sidebar-mini"> <i class="fa fa-eye"></i> </span>
                                <span class="sidebar-normal"> Toutes les catégories </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('admin_category_new') }}">
                                <span class="sidebar-mini"> <i class="fa fa-plus"></i> </span>
                                <span class="sidebar-normal"> Ajouter </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>