{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="images text-center">
        {% for category in categories %}
            {% if app.user.categoryStep.id == category.id %}<img src="/assets/images/bonhomme.png"
                                                                class="bonhomme{{ app.user.categoryStep.id - 1 }}">{% endif %}
        {% endfor %}
        <img src="/assets/images/trait.png">
        <img src="/assets/images/Coupe.png">
    </div>
    <hr class="barre">
            <a class="déconnexion" href="/">
                Se déconnecter
            </a>
    <div class="row mt-4">
        <div class="col-6">
            <h2  class="text-center titre_question">Clique sur le Quizz que tu dois faire :</h2>
            <div class="row pl-3 categories">
                {% for category in categories %}
                    <a href="{{ path('user_questionnaire', {id:app.user.id}) }}" class="col-5 p-3 m-4 text-center {% if app.user.categoryStep.id > category.id %}bg-success{% else %}bg-dark{% endif %}">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="badges col-6 border mt-4">
            <div class="avatar text-center">
                <img src="/assets/images/avatar.png">
            </div>
            <div class="text-center p-3 font-weight-bold">
                {{ app.user.firstname }}
                {{ app.user.lastname }}
            </div>
            <div class="row justify-content-around">
                {% for category in categories %}
                    <img src="/assets/images/badge{{ category.id }}.png" class="{% if app.user.categoryStep.id - 1 >= category.id %} {% else %}opacity{% endif %}">
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
